[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-core = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipywidgets = "*"
ipykernel = "*"
ipympl = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
